body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    text-align: center;
    letter-spacing: 1.5px;
}

h1, h2, h3, p {
    line-height: 2;
}

.intro {
    background-color: #E8F3D6;
    position: relative;
    padding-top: 150px;
    margin-bottom: 100px;
}

.intro h2 {
    font-size: xx-large;
}

.intro_p {
    width: 35%;
    margin: 0 auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5.625rem;
    font-weight: 100;
    margin: 50px auto 0 auto;
    color: #5baaaa;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #608d18;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.cloud2 {
    position: absolute;
    left: 200px;
}

.cloud1 {
    position: absolute;
    right: 250px;
    top: 40px;
}

.mountain {
    line-height: initial !important;
}

.profile {
    margin-bottom: 40px;
}

.mike {
    height: 200px;
}

hr {
    border: dotted 10px rgb(230, 238, 238);
    border-bottom: none;
    height: 0;
    width: 5%;
    margin: 100px auto;
    clear: both;
}

.skill-row {
    width: 50%;
    margin: 80px auto;
    text-align: left;
}

.skill-row img {
    background-color: #EAF6F6;
    width: 25%;
}

.software-development {
    float: left;
    margin-right: 30px;
}

.problem {
    float: right;
    margin-left: 30px;
}

.songwriter {
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

/* .skill-row h3, .skill-row p {
    text-align: left;
} */

h3, a {
    color: #11999E;
}

.contact-me {
    margin: 50px auto;
}

.contact-me h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-me p {
    width: 50%;
    margin: 0 auto;
}

.btn {
    background: #b2dbdb;
    background-image: -webkit-linear-gradient(top, #b2dbdb, #11baba);
    background-image: -moz-linear-gradient(top, #b2dbdb, #11baba);
    background-image: -ms-linear-gradient(top, #b2dbdb, #11baba);
    background-image: -o-linear-gradient(top, #b2dbdb, #11baba);
    background-image: linear-gradient(to bottom, #b2dbdb, #11baba);
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    margin: 50px auto;
    border-radius: 8px;
    text-decoration: none;
}

.btn:hover {
    background: #608d18;
    background-image: -webkit-linear-gradient(top, #608d18, #b6d18a);
    background-image: -moz-linear-gradient(top, #608d18, #b6d18a);
    background-image: -ms-linear-gradient(top, #608d18, #b6d18a);
    background-image: -o-linear-gradient(top, #608d18, #b6d18a);
    background-image: linear-gradient(to bottom, #608d18, #b6d18a);
}

.bottom-container {
    background-color: #E8F3D6;
    padding: 50px;
}

.bottom-container a {
    padding: 30px;
    text-decoration: none;
}

.footer-link:hover {
    color:#b2dbdb
}

.bottom-container p {
    color: #7e9e9eb2;
    font-size: 0.9rem;
    margin: 40px auto 20px auto;
}